@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?25vntv');
  src:  url('fonts/icomoon.eot?25vntv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?25vntv') format('truetype'),
    url('fonts/icomoon.woff?25vntv') format('woff'),
    url('fonts/icomoon.svg?25vntv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
  color: #fff;
}
.icon-email:before {
  content: "\e901";
  color: #fff;
}
.icon-product:before {
  content: "\e902";
color: #fff;
}
.icon-service:before {
  content: "\e903";
color: #fff;
}
.icon-quality:before {
  content: "\e904";
color: #fff;
}
.icon-rent:before {
  content: "\e905";
color: #fff;
}
.icon-search:before {
  content: "\e906";
color: #fff;
}
.icon-fb:before {
  content: "\e907";
color: #fff;
}
.icon-tw:before {
  content: "\e908";
color: #fff;
}
.icon-insta:before {
  content: "\e909";
color: #fff;
}
.icon-in:before {
  content: "\e90a";
color: #fff;
}
.icon-whats:before {
  content: "\e90b";
color: #fff;

}
