html{
    overflow-x: hidden;
}
.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    }
    
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text-center{
    text-align: center;
}
.bg_testimonial{
    background-size: cover;
    padding: 7% 0;
    background-position: center;
}
.bg_testimonial  .image-logo{
    width: 50% !important;
    margin: auto;
}
.bg_testimonial p{
    color: #fff;
    line-height: 1.6em;
    font-size: 20px;
    text-align: center;
}

.blue-color{
    color: #00A6CE !important;
    font-family: 'JosefinSansBold' !important;
    margin-top: 5%;
    font-size: 3em;
}
.about-text{
    text-align: justify;
    font-size: 18px;
    padding: 0px 100px;
}
.canal{
    background: white;
    margin: auto;
    text-align: center;
    width: 35%;
}

.canal h3{
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.7em;
    font-style: italic;
}
.canal-title{
    text-align: center;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8em !important;
    margin: 16px;
    margin-bottom: 50px;
    margin-top: 5%;
}
.fix-logos{
    width: 103% !important;
    margin-left: -22px;
}

.bg_canals {
    background-size: cover;
    padding: 10% 0 4%;
    background-position: center;
}

.img-color{
    text-align: center;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

.color-yellow{
    background-color: #FFC600;
}

.color-orange{
    background-color: #FF9E15;
}

.img-color .item-content{
    font-size: 42px;
    padding-top: 12%;
}

.item-content p{
    /* font-size: 32px; */
    /* color: #fff; */
    /* text-transform: uppercase; */
    /* font-family: JosefinSans!important; */
    /* margin-top: 0.5em; */
}

.item-content span{
    font-size: 162px;
}


.img-color:hover{
    z-index: 1;
}

.item-content:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    
}


.bg_color {
    background-position: 50% -42.0063px;
    background-size: cover;
    height: 1073px;
}

.bg_color img{
    margin: auto;
    display: block;
}
.center-color{
    margin: auto;
    display: block;
    top: 40%;
    position: absolute;
    left: 25%;
    right: 0;
}

.fix-colum{
    padding: 0 !important; 
}
.responsive{
    width: 100%;
}
.frange-img{
    position: relative;
    z-index: 9;
    width: 100%;
    top: 6.3em;
}
.testimonial-text{
    
height: 332px;
    
width: 85%;
    
margin: auto;
    
font-weight: 400;
    
font-style: normal;
    
font-family: 'Josefin Sans', sans-serif;
    
font-size: 1em !important;
    
margin-top: 60px;
}

.footer-2{
    text-align: center;
    margin-top: 40px;
}

.footer-2 span{
    font-size: 4em;
}

.footer-2 h4{
    font-weight: 600;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em !important;
}
.item-bg{
    height: 200%;
    display: table;
    width: 100%;
}

.item-bg h1{
    color: white;
    font-family: 'JosefinSansBold' !important;
}

.big-title p{
    color:white;
    font-size: 22px;
    width: 80%;
    margin: auto;
}
.big-title{
    display: table-cell;
    vertical-align: middle;
}



.separator{
    border-bottom: 1px solid white;
    width: 200px;
    display: block;
    margin: auto;
}

.center-logo{
    margin: auto;
    padding: 18%;
    vertical-align: middle;
}

.center-logo img{
    margin: auto;
    height: 120px;
    vertical-align: middle;
}

.fix-table{
    display: table;
    width: 100%;
}

.banner-text{
    padding: 275px 0px;
}

/* .amcharts-chart-div path:hover{
    fill: #003085;
    cursor: pointer;
} */

.marker:hover .cls-5 {
    fill: #003085;
    cursor: pointer;

}

.marker .info{
    display: none;
}
.marker:hover .info {
    display: block;

}

.center-map{
    display: block;
    margin-left: 23%;
    margin-top: -10%;
}

.map1 .info .cls-1 {
    fill: #f7931e;
}

.map0 .info .cls-1 {
    fill: #39b54a;
}

.map0 .info .cls-3{
    fill: #ffffff;
    stroke: none;
}

.info .cls-2 {
    fill: #006837;
}

.info .cls-3,
.info .cls-40,
.info .cls-6,
.info .cls-7 {
    fill: #fff;
}

.map0 .info .cls-5 {
    fill: #fff;
}



.map1 .cls-1 {
    isolation: isolate;
}

.map1 .cls-2 {
    opacity: 0.75;
    mix-blend-mode: multiply;
}

.map1 .cls-3,
.map1 .cls-4 {
    fill: #f9dfbb;
    stroke: #f7931e;
    stroke-miterlimit: 8;
    stroke-width: 1.59px;
}

.map1 .info .cls-3{
    fill: #ffffff;
    stroke: none;
}

.map1 .cls-4 {
    fill-rule: evenodd;
}

.map1 .cls-5 {
    fill: #006837;
}

.map1 .cls-6 {
    fill: #fff;
}

.info .cls-40 {
    font-size: 23.4px;
    font-family: JosefinSans-Light, Josefin Sans;
}

.info .cls-50 {
    font-family: JosefinSans-Bold, Josefin Sans;
    font-weight: 700;
}

.info .cls-6 {
    font-size: 19px;
}

.info .cls-6,
.info .cls-7 {
    font-family: JosefinSans-Regular, Josefin Sans;
}

.info .cls-7 {
    font-size: 17.7px;
}

.info .cls-8 {
    letter-spacing: -0.02em;
}

.info .cls-9 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 8;
}


.map0 .cls-1 {
    isolation: isolate;
}

.map0 .cls-2 {
    opacity: 0.75;
    mix-blend-mode: multiply;
}

.map0 .cls-3,
.map0 .cls-4 {
    fill: #a6e8c6;
    stroke: #006837;
    stroke-miterlimit: 8;
    stroke-width: 1.59px;
}

.map0 .cls-4 {
    fill-rule: evenodd;
}

.map0 .cls-5 {
    fill: #006837;
}

.map0 .cls-6 {
    fill: #fff;
}


.amcharts-chart-div-2 path {
    stroke-width: 2px;
    stroke: #097b46;
    fill: #cfffe4;
}

.amcharts-chart-div-2 path:hover{
    fill: #003085;
    cursor: pointer;
}

.controls{
    width: 80%;
    margin: auto;
}

.controls label{
    color: white;
    text-transform: uppercase;
}

.controls input{
    color: black;
    text-transform: uppercase;
    padding: 0 10px;

}

.controls textarea{
    padding: 10px 25px;
    color: black;
    text-transform: uppercase;

}

.controls button{
    padding: 16px 26px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff96;
    color: #288a4a;
    margin: 0 10px;
    text-transform: uppercase;
}

.btn-send{
    background-color: #FFB600 !important;
    color: white !important;
}

.map-title{
    display: block;
    position: absolute;
    top: 50%;
    left: 100px;
}

.map-title h1{
    color: #288a4a;
    font-weight: 400;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

.map-title span{
    color: #FFB600;
    font-weight: 400;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}
.map-subtitle{
    margin-top: 10px;
}

.map-subtitle h2{
    color: green;
    display: inline-block;
    margin-left: 10px;
    font-weight: 200;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7em;
}

.map-subtitle span{
    color: green !important;
    font-weight: 400;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}
.circle{
    width: 46px;
    height: 46px;
    background: antiquewhite;
    border-radius: 50px;
    border: 2px solid #d27e0f;
    float: left;
}

.green{
    background: #cfffe4;
    border: 2px solid rgb(1, 80, 1);
}
.lightbox-content{
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    line-height: 20px;
    font-size: 30px;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.5s;
    bottom: 30%;
}

.lightbox-text{
    text-transform: uppercase;
    background: white;
    padding: 10px;
    transform: unset;
    font-weight: 700;
}

.fix-padding{
    padding: 0;
    margin: 0;
    min-height: 0;
}

.flavors-slider{
    width: 100%;
}

.flavors-slider img{
    width: 167px;
    display: inline-block;
    float: left;
}

.jsbold-40{
    /* font-family: 'JosefinSansBold' !important; */
    /* font-size: 40px !important; */
}
.article-text span{font-weight: 700;font-style: normal;font-family: 'Josefin Sans', sans-serif;font-size: 1.4em !important;}

.article-text{font-weight: 400;font-style: normal;font-family: 'Josefin Sans', sans-serif;font-size: 1.4em !important;}

.blue-bold{
    color: #0069A6 !important;
}
.divider{
    background: #0069A6;
    width: 200px;
    margin: auto;
    display: block;
    height: 10px;
    margin-top: 60px !important;
}
.bg_usa{
    padding: 5%;
    background-size: cover;
}
.d-none{
    display: none;
}

.category{
    cursor: pointer;
}

.img-resp{
    width: 156px;
    margin-left: 28px;
}

.flavor{
    cursor: pointer;
}

.flavor:hover {
    transform: scale(1.1);
}

.withoutSugar-slider{
    display: none;
}

.divider-2 {
    background: #ffffff;
    width: 50%;
    margin: auto;
    display: block;
    height: 2px;
    margin-top: 50px !important;
    margin-bottom: 50px;
}

.post-meta{
    position: absolute;
    top: 42%;
}

.info .icon-info {
    position: absolute;
    font-size: 0.5em;
    bottom: 10%;
    left: 50%;
    top: 48%;
    text-align: center;
    z-index: 1;
    color: #fff;
    text-transform: uppercase !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.5s;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 0.3em;
    font-family: 'Josefin Sans', sans-serif !important;
}

.info{
    cursor: pointer;
}

.info:hover .icon-info {
    opacity: 1;
    bottom: 5%;
}

.info:hover .icon-title {
    opacity: 0;
}

icon-product

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
}
.fix-width{
    width: 100% !important;
}
.img-wrap .item{
    position: absolute;
    top: 32px;
}
.img-wrap {
    cursor: pointer;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .bg_testimonial p {
        line-height: 1.5em;
        font-size: 1.2em;
    }
    .quote-2 {
        font-size: 1.5em !important;
    }

    .quote {
        font-weight: 400;
        font-style: normal;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2em !important;
    }

    .w-30{
        width: 30.21%;
    }

    .w-70{
        width: 69.79%;
    }

}
.form-control {
    color: #000 !important;
}


.footer-social {
    text-align: right;
    padding: 0;
    margin-top: 10px;
}

.footer-social li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.footer-social li a {
    color: #446d82
}

.footer-social li a i {
    width: 40px;
    font-size: 1.3em;
    height: 40px;
    border-radius: 2px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    /* box-shadow: 0 0 10px 0 rgba(53, 67, 78, .1); */
}

.footer-social li a:hover i {
    background: #003085;
    color: #fff
}

.item-bg  span {
        color: yellow;
        font-size: 2em !important;
        /* line-height: 165px !important; */
}
.item-bg  p {
    color: white;

}

.big-title-2 span{
    color:yellow;
    font-size: 7rem !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-style: NORMAL;
}
.big-title-2 p{
    color:white;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}
.big-title-2{
    display: table-cell;
    vertical-align: middle;
}

.big-title-2 h1 {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 3.5em;
    font-style: normal;
}
.active-movil{
    display: none;
}

.services-widget h3{
    color: white;
}
.law-list P{
    color: white;
    
}

.yellow {
    background: #eda225;

}

.text-left{
    text-align: left !important;
}

.green {
    background: #009345;
}

.how-text{font-weight: 600;font-family: 'Josefin Sans', sans-serif;font-size: 2.5em;color: #0069A6;margin: 16px;}
.blue-color-2{
    color: #0069A7;
}
.title-text{
    font-size: 3rem;
    font-family: 'JosefinSans' !important;
}

.img-resp-section{
    width: 100%;
}



.center-color-2 {
    margin: auto;
    display: block;
    top: 40%;
    position: absolute;
    left: 4%;
    right: 0;
}


.color-top-text{
    position: absolute;
    top: 10px;
    left: 20%;
}

.color-top-text h3{
    font-size: 2em;
    color: white;
    
}

.color-bottom-text{
    position: absolute;
    bottom: 10px;
    left: 44%;
}

.color-bottom-text h3{
    font-size: 2em;
    color: white;
    
}




.product-content{
    display: grid;
    position: relative;
}

.product-panel{
    width: 31.25%;
    float: left;
    position: relative;
}

.product-panel img{
    width: 100%;
}

.img-colors{
    float: left;
}
.color-panel{
    width: 31.25%;
    float: left;
}
.color-panel img{
    width: 100%;
}
.img-sections{
    width: 37.5%;
    float: left;
}

.img-sections img{
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-panel span{
    font-size: 10rem;
}

.product-panel p{
    text-align: center;
    margin-top: 18px;
    font-size: 3rem;
    color: white;
    font-style: italic;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

.img-sections h1{
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    width: 500px;
}
.img-sections p{
    color: white;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    max-width: 342px;
    display: block;
    margin: auto;
}

.img-sections span{
    font-weight: 500;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    color: yellow;
}

.col-prescribe{
    width: 62.5%;
    float: left;
}

.col-prescribe img{
    width: 100%;
}

.col-prescribe-banner{
    width: 37.5%;
    float: left;
}

.col-prescribe-banner img{
    width: 100%;
}

.title-about{
   color: #0069A6;
   font-weight: 500;
   font-style: normal;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 2em;
   margin-bottom: 30px;
}
.about-text p{
    color: #00A6CE;
    font-weight: 400;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

.about-text span{
    color: #0069A6;
    font-weight: 400;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

.banner-title {
    font-size: 7em !important;
    font-weight: 600 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    text-shadow: 5px 6px 14px #000000;
}


.banner-span{
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 1em !important;
    font-weight: 400 !important;
    color: #ffff00 !important;

}

.contact-btn{
    width: 292px;
    position: absolute;
    z-index: 99;
    background: white;
    border-radius: 200px;
    text-align: center;
    padding: 15px;
    font-size: 01.2em !important;
    font-weight: 600 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    bottom: 4%;
    left: 12%;
}


.usa-title span{
    color:#ffff00;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}
.usa-title p{
    color:white;
    width: 80%;
    font-family: 'Josefin Sans', sans-serif ;
    font-style: normal;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    display: block;

}
.usa-title h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3.5em;
    color:white;
}
.img-color-usa{
    height: 458px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.text-usa-i{
    padding: 20px;
}
.text-usa-i img{
    width: 60%;
}
.text-usa-i p{
    font-family: 'Josefin Sans', sans-serif ;
    font-size: 2em ; 
    font-weight: 100 ;
    margin-top:20% ;
    color: white;
}

.usa-title-2 span{
    color:#ffff00;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.usa-title-2 h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3.5em;
    color:white;
}

.lightbox-text-usa {
    text-transform: uppercase;
    background: white;
    padding: 10px;
    transform: unset;
    font-weight: 700;
}

.lightbox-content-usa h1 {
    color: #ffff00;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    font-style: italic;
}


.lightbox-content-usa span{
    color: white;
    
    font-weight: 400;
    font-size: 4rem;
}

.lightbox-content-usa span::before{
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 6px;
    content: " ";
    text-shadow: none;
    background-color:white;
    width: 80px;
    position: absolute;
}

.lightbox-content-usa {
    position: absolute;
    top: 0%;
    display: block;
    width: 100%;
    font-size: 30px;
    z-index: 2;
    left: 4%;
    text-align: left;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.5s;
    bottom: 30%;
    padding-top: 6%;
}

.lightbox-content-usa-2{
    z-index: 9999 !important;
    position: absolute;
    top: 40%;
    display: block;
    width: 100%;
    line-height: 20px;
    font-size: 30px;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.5s;
    bottom: 30%;
}

.lightbox-content-usa-2 h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    color:white;
}
.lightbox-content-usa-2 span{
    color: #ffff00;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    /* font-style: italic; */
}
.fix-lightbox-content {
    top: 40%;
}

.centered:hover{
    cursor: pointer;
}

.title-testimonial{
    color: #0069A7;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: -45px;
}

.about-text .counter {
    color: #0069A6;
    font-weight: 600;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
}

.video-about{
    text-align: justify;
    font-size: 18px;
    padding: 1px 50px;
}

.home-title h1{
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
    font-size: 5em;
    color: white;
    text-shadow: 5px 6px 14px #000000;
}

.home-title span{
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.1em !important;
    color: #ffff00 !important;
}

.home-title p{
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
    color: white;
    line-height: 1em;
}

.product-title h1{
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
    font-size: 5em;
    color: white;
}

.product-title span{
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.1em !important;
    color: #ffff00 !important;
}

.product-title p{
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    color: white;
    line-height: 1em;
}
.banner-description{
    width: 50%;
    /* text-align: justify; */
    padding-top: 60px;
}
.banner-description::before{
    display: inline-block; 
    margin:-40px 0; 
    height: 6px; 
    content: " "; 
    text-shadow: none; 
    background-color: white; 
    width: 50%; 
    position: absolute;
}


.ml-60{
    margin-left: 6%;
}

#textInfo{
    font-weight: 400;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    text-align: justify;
}
.current{
    color: yellow !important;
}

.quote{

font-weight: 400;

font-style: normal;

font-family: 'Josefin Sans', sans-serif;

font-size: 1.8em !important;
}

.quote-2{
    font-weight: 200;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7em !important;
}
.pdf-download{
    width: 56px !important;
}
.pdf-content{
    position: absolute;
    bottom: 10%;
    left: 2%;
}

.fix-canal-content {
    top: 10%;
}
.logosCanal{
    display: none !important;
}
.bounceInLeft{
    display: block !important;
}
.bounceOutRight{
    display: block !important;
}
.fixed-header{
    display: none;
}
.nav-link{
    width: 140px;
    text-align: center;
}

.bg_testimonial .image-logo {
    margin-top: 10%;
}
.top-text{
    position: absolute;
    top: 2%;
    display: block;
    width: 100%;
    text-align: center;
}
.top-text span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    color: white;
}

.top-text:after {
    content: '\e825';
    text-align: center;
    font-family: "revicons";
    color: #fff;
    font-size: 1em;
    top: 0;
    z-index: 0;
    width: 30px;
    height: 110px;
    font-weight: 800;
    margin-left: 11px;
}

.bottom-text{
    position: absolute;
    bottom: 2%;
    display: block;
    width: 100%;
    text-align: center;
}
.bottom-text:before {
    content: '\e824';
    text-align: center;
    font-family: "revicons";
    color: #fff;
    font-size: 1em;
    top: 0;
    z-index: 0;
    width: 30px;
    height: 110px;
    font-weight: 800;
    margin-right: 11px;
}
.bottom-text span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    color: white;
}
.fix-title-usa{
    font-size: 2em !important;
}
.tparrows.preview4 .tp-arr-allwrapper {
    display: none !important;
}
.canal-slider .tparrows {
    display: none !important;
}
.fix-lightbox-content-usa-2{
    font-size: 1.4em !important;
}
.fix-footer-social{
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 10px;
}

.fix-footer-social li a i {
    font-size: 2.3em;
    
}
.fix-footer-social::before {
    border-bottom: 1px solid white;
    width: 400px;
    display: block;
    margin: auto;
    content: '';
    margin-top: -116px;
}
.tp-bullets{
    display: none;
}

.owl-carousel .next-slide {
    background: url(../img/nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
}
.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}
.owl-theme .owl-nav {
    margin-top: 10px;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.canal-description{
    font-size: 18px;
    top: -10%;
}


.canal-description p{
    color: white !important;
}

.canal-title {
    margin: -10px 0 0 0 !important;
}

.bg-porto{
    background:url(../img/background.jpg);
}
.bg-white{
    background: white;
}

@media(max-width: 1600px){
    .fix-logos {
        margin-left: -27px;
    }
    .fix-lightbox-content-usa-2{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 2em;
        color: white;
    }
    .map-subtitle h2 {
        font-size: 1.4em;
    }
    .top-text span {
        font-size: 1.6em;
    }
    .bottom-text span {
        font-size: 1.6em;
    }
    .top-text:after {
        font-size: 1.5em;
    }
    .bottom-text:before {
        font-size: 1.5em;
    }
    .pdf-content {
        bottom: 6%;
        left: 6%;
    }
    .pdf-download {
        width: 32px !important;
    }
    .frange-img {
        top: 5.3em;
    }
    #textInfo {
        font-size: 1em;
    }
    .article-text {
        font-size: 1em !important;
    }
    .divider-2 {
        margin-top: 30px !important;
        margin-bottom: 30px;
    }
    .info .icon-info {
        font-size: 0.3em;
    }
    .product-panel span {
        font-size: 12rem;
    }
    .product-panel p {
        font-family: 'Josefin Sans', sans-serif !important;
        font-size: 0.5em;
    }
    .lightbox-content-usa-2 h1 {
        font-size: 1.2em;
    }
    .usa-title-2 span {
        font-size: 1em;
    }
    .img-color-usa {
        height: 368px;
    }
    .usa-title span{
        font-size: 1.4em;
    }
    .usa-title p{
        font-size: 1em;
    
    }
    .usa-title h1{
        font-size: 3.8em;
    
    }
    .title-about{
        font-size: 1.5em;
     }
    .about-text p{
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.1em;
    }
    
    .about-text span{
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.1em;
    }
    .img-sections h1 {
        font-weight: 100;
        font-style: normal;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2em;
        width: 432px;
    }
    .img-sections p {
        font-size: 1.2em;
    }
    .img-sections span {
        font-size: 2em;
        color: yellow;
    }
    .bg_color {
        background-position: 50% -42.0063px;
        background-size: cover;
        height: 788px;
        background-repeat: no-repeat;
    }
    .color-top-text h3 {
        font-size: 1.5em;
    }
    .color-bottom-text h3 {
        font-size: 1.5em;
    }
    .canal-title {
        font-size: 6em !important;
        margin-bottom: 20px;
    }
    .main-footer-fix{
        margin-bottom: 4%;
    }
}

@media(max-width: 1200px){
    .controls textarea {
        padding: 0;
    }
    .col-lg-5ths {
        width: 20%;
        float: left;
    }

    .pt90 {
        padding-top: 15px;
    }

    .form-control {
        height: 36px;
        border-radius: 15px;
    }

    textarea.form-control {
        height: 100px;
    }
    .fix-lightbox-content-usa-2 {
        font-size: 1.8em !important;
    }
    .frange-img {
        top: 4.2em;
    }
    .fix-title-usa {
        font-size: 1.3em !important;
    }
    .map-subtitle h2 {
        font-size: 1em;
    }
    .top-text:after {
        font-size: 1em;
    }
    .bottom-text:before {
        font-size: 1em;
    }
    .canal-title {
        font-size: 5em !important;
        margin-bottom: 0;
    }
    .top-text span {
        font-size: 1em;
    }
    .bottom-text span {
        font-size: 1em;
    }
    .bg_testimonial .image-logo {
        margin-top: 25%;
    }
    .main-footer-fix{
        margin-bottom: 4%;
    }
}

@media (max-width: 768px) {
    .canal {
        width: 60%;
    }
    .fix-logos{
        width: 120% !important;
        margin-left: -52px;
        height: 100% !important;
    }
    .bg_testimonial .image-logo {
        margin-top: 32px;
    }
    .product-panel img {
        height: 224px;
    }
    .usa-title span {
        font-size: 1.6em;
    }
    .lightbox-content-usa span::before {
        display: inline-block;
        margin: 0 0 8px 45px;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: white;
        width: 34px;
        position: absolute;
        text-align: center;
    }
    .lightbox-content-usa {
        top: 30%;
        left: 0;
        text-align: center;
    }
    .col-prescribe {
        width: 100%;
        float: left;
    }
    .lightbox-content-usa h1 {
        font-size: 1em;
        font-weight: 700;

    }
    .lightbox-content-usa span {
        font-size: 1.2rem;
    }
    .lightbox-content-usa-2 h1 {
        font-size: 0.5em;
    }
    .lightbox-content-usa-2 span {
        font-size: 1em;
    }
    .usa-title h1 {
        font-size: 1.8em;
    }
    .usa-title-2 h1 {
        font-size: 2.5em;
    }
    .usa-title-2 span {
        font-size: 0.5em;
    }
    .about-text p{
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1em;
        text-align: center;
    }
    .img-color-usa {
        height: 268px;
    }

    .col-xs-5ths {
        width: 100%;
        float: left;
    }

    .text-usa-i img{
        width: 40%;
    }
    .text-usa-i p{
        font-size: 1.5em ; 
        font-weight: 100 ;
        margin-top:4% ;
    }

    
    .about-text span{
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 0.9em;
    }
    .product-panel span {
        font-size: 7rem;
        text-align: center;
        margin: auto;
        display: block;
    }
    .product-panel p {
        text-align: center;
        margin-top: 28px;
        font-size: 0.5em;
        color: white;
    }
    .product-panel{
        width: 50%;
        float: left; 
    }
    .product-panel .item-content span {
        font-size: 92px;
    }
    .color-panel{
        width: 100%;
        float: left;
    }
    .img-sections{
        width: 100%;
        float: left;
    }
    
    .bg_testimonial p {
        color: #fff;
        line-height: 1.4em;
        font-size: 1em;
        text-align: center;
        font-family: 'JosefinSans';
    }
    .canal-title {
        font-size: 7em !important;
        text-align: center;
        margin: auto;
        display: block;
        margin: 10px;
    }

    .canal h3 {
        font-size: 0.7em;
        padding: 0.5rem;
    }

    .bg_canals {
        padding: 18% 0 50px;
    }
    .blue-color {
        color: #00A6CE;
    }

    .frange-img {
        top: 1.3em;
    }
    .disable-movil{
        display: none !important;
    }
    .active-movil{
        display: block;
    }
    .item-bg {
        height: 100%;
    }
    .tp-simpleresponsive {
        height: 700px !important;
    }

    .canal-slider .tp-simpleresponsive {
        height: 400px !important;
    }
    
    .big-title span {
        line-height: 60px !important;
    }

    .big-title .fix-movil-title span {
        line-height: 10px !important;
    }
   
    .tp-caption {
        top: 300px !important;
        left: 50px !important;
    }

    .big-title h1 {
        font-size: 8.5em !important;
        text-align: center;
    }

    .bg_color {
        height: 300px;
        padding: 10px;
    }
    .social-movil{
        position: absolute;
        bottom: 45px;
        z-index: 999;
        left: 2em;
    }

    .big-title p {
        color: white;
        font-size: 1em;
    }

    .banner-text {
        padding: 40% 0;
    }

    .lightbox-text {
        padding: 5px;
        font-size: 0.3em;
    }
    .lightbox-content {
        top: 30px;
    }

    .footer-2 span {
        font-size: 2em;
    }
    .logos img{
        width: 60%;
        display: block;
        margin: auto;
    }
    .logos{
        max-height:200px;
    }
    .img-sections img {
        height: 200px;
    }

    .info .icon-info {
        top: 30%;
        font-size: 0.3em;
    }
    .title-testimonial {
        font-size: 1.5em;
        margin-bottom: -10px;
    }
    .about-text {
        padding: 0px 31px;
        margin-bottom: 41px;
    }
    .how-text {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 16px;
    }

    .home-title h1 {
        font-weight: 500;
        font-size: 8em !important;
        line-height: 38px !important;
    }

    .home-title span {
        font-weight: 700;
        font-size: 1.1em !important;
        color: #ffff00 !important;
    }

    .product-title span {
        font-size: 1.2em !important;
    }
    .product-title h1 {
        font-size: 2em;
    }
    .fix-category-movil{
        height: 200px;
    }

    .contact-btn {
        width: 100px;
        padding: 6px;
        font-size: 0.5em !important;
        bottom: 4%;
        left: 12%;
    }
    .main-footer-fix{
        margin-bottom: 4%;
    }
    .footer-2 p {
        font-size: 1.2em !important;
    }
    .fix-title-usa {
        font-size: 0.5em !important;
    }
    .bg_testimonial {
        height: 540px;
    }

    .services-widget .big-title-2 h1 {
        padding: 20px;
    }

    .sidebar .sidebar-title {
        margin-top: 160px !important;
    }
    
}
